* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 360px;
    width: 100%;
    margin: 100px auto;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}