// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

// Cores
$azul: #182C61;
$verd: #44bd32;
$cinz: #f5f6fa;

// Breakpoints
$mob: 767px;
$tab: 1023px;